<h1>Section 7</h1>
<signup-form></signup-form>
<!--
<h1>Subscription Form</h1>
<subscription-form></subscription-form>

<h1>Template Driven Forms</h1>
<contact-form></contact-form>

<h1>Section 5 - 60</h1>
    <zippy-card title="Who can see my stuff?">
        Content of who can see my stuff
    </zippy-card>
    <zippy-card title="Who can contact me?">
        Content of who can contact me
    </zippy-card>

<h1>Section 5 - 58</h1>
    <bs-panel>
        <div class="heading">The Heading</div>
        <div class="body">This is the body!</div>
    </bs-panel>

<courses></courses>
<authors></authors>
<favorite></favorite>
<tweets></tweets>
<pipes-demo></pipes-demo>
<h1>Section 5 - 56</h1>
<button
    [ngStyle]="{
        backgroundColor: canSave ? 'blue' : 'gray',
        color: canSave ? 'white' : 'black',
        fontWeight: canSave ? 'bold' : 'normal'
    }"
>Submit</button>
<h1>Section 5 - 57</h1>
<ul>
    <li>Title: {{ task.title }}</li>
    <li *ngIf="task.assignee != null">Assigned to: {{ task.assignee.name }} </li>
    <li>Assigned to: {{ task.assignee.name != null ? task.assignee.name : "" }} </li>
    <li>This is called Elvis operator</li>
    <li>Assigned to: {{ task.assignee?.name }} </li>
<ul>
    -->